@(sensor: Sensor)

@defining(sensor.url.replaceAll("\\.|/|:", "")) { id =>

<tr>
	<td>
		<a href="/sensor/data/@sensor.id" class="btn btn-inverse btn-small">@sensor.name</a>
		<a href="#modal_@id" class="btn btn-info btn-small" data-toggle="modal">Details</a>
	</td>
	<td><a href="#" class="btn btn-inverse btn-small">@sensor.server.name</a></td>
</tr>

<div id="modal_@id" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>@sensor.name</h3>
	</div>
	<div class="modal-body">
		@controllers.SensApp.updateSensorDetails(sensor)
		<p>TODO</p>
	</div>
</div>

}